@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    scrollbar-color: #86efac transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar:hover {
        background-color: #86efac;
    }
    &::-webkit-scrollbar {
        width: 15px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 50rem;
        background-color: transparent;
    }
}
body {
  background-color: #181818;
}